*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #01030C;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.cabeçalho-logo-square-enix{
    width: 800px;
}

.cabeçalho-link{
    display: inline-block;
    margin-left: 1200px;
    font-style: normal;
    font-size: 40px;
}

.logo-lis{
    width: 700px;
}

.sobre-o-jogo{
    background-image: linear-gradient(#01030C, #64A5D3, #DCE0F5);
    color: white;
    padding: 120px;
}